body {
  text-align: center;
  background-color: #011F3F;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #FEF2BF;
}
#score, #variableValue, #bestScore,#pbestScore,#pscore {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  color: #d9ff00;
  z-index: 1;
}

#pbestScore,#pscore {
  font-family: 'Press Start 2P', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  margin:  2%;
  color: #00ffe1;
  z-index: 1;
}
.scoreboard{
  flex-flow: wrap;
}






.container {
  display: block;
  width: 50%;
  margin: auto;

}

h3{
  color: white;
  size: 2rem;
}

.red,.yellow,.green,.blue {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
